* {
    margin:0;
    padding:0;
}

img {
    border-radius: 10px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #1F2937;
    padding: 1em 5em;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
    padding: 0 10px;
}

.secondary-text,
.nav a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.secondary-text {
    margin-bottom: .5em;
}

.hero-main-text {
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
    margin-bottom: .5em;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7em 5em;
}

.hero-left {
    flex-direction: column;
    padding-right: 20em;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
  }

  button.sign-up {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    padding: .5em 2em;
  }
  
.information {
    margin: 5em 7em;
    padding: 3em 5em;
}

.information-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.information-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.info {
    max-width: 300px;
}

.quote {
    background-color: #E5E7EB;
    padding: 4em 5em;
    font-size: 36px;
    color: #1F2937;
}

.author {
    text-align: right;
    font-weight: 800;
    font-size: 30px;
    padding-right: 1em;
}

.signup-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882F6;
    padding: 2em 2em;
    border-radius: 5px;
    margin: 5em 20em;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 700px;

}


button.sign-up-2 {
    background: #3882F6;
    border: 1px solid white;
    color: white;
    padding: .5em 2em;
}

.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 19px;

}

